.housing-owner {
    display: flex;
    align-items: center;
    color: #FF6060;
    
    .owner-name {
    margin-right: 10px;
    }
    
    .owner-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    }
    }