.lmj-banner {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
}

.banner-nav {
	display: flex;
	justify-content: flex-start;
  }
  
  .banner-nav img {
	margin-right: auto;
  }
  
  .banner-nav + div {
	display: flex;
	justify-content: flex-end;
	background-color: aqua;
  }

  .linkNav {
	 
	color: rgb(201, 66, 66);
	font-size: 34px;
	 
  }

  .link-nav-1 {

	margin-right: 50px;
  }