.housing-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .entitled-owner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 55px;
  }

  .testo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
  
  
  }
  .space {
    margin-top: 20px;
  }
  
  
  
  .image {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .cart-header {
    height: 450px;
    border-radius: 25px;
    background-color: red;
    margin-left: 100px;
    margin-right: 100px;
  }
  